<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6 center-all-quests">
    <h3>All Users</h3>

    <div id="questions-all">
    <% @users.each do |user| %>
      <h2>
        <%= link_to user.name, user_path(user) %>
      </h2>
      <div class="info">
        <p><strong>is admin?</strong> <%= user.admin %></p>
        <p><strong>joined on </strong> <%= user.created_at.strftime('%b %d, %Y') %></p>

        <p><strong>ALL Questions this User Asked:</strong></p>
        <% user.questions.each do |question| %>
        <p><%= question.title %></p>
        <% end %>
        <p><strong>All Answers from this User:</strong></p>
        <% user.answers.each do |answer| %>
        <p><%= answer.text %></p>
        <% end %>
      </div>

    <% end %>
    </div>

    <% if current_user %>

      <button class="ask-btn"><%= link_to "Edit User", new_question_path %></button>
    <% else %>
      <p>You must be signed in to ask a question</p>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
